.banner{
	background-image: url("../images/banner/about.jpg");

}
.home2{
	background-image: url("../images/shape/orange_home.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.home2 .card{
	border:none;
	text-align: center;
}
.home2 .card .card-img-top{
	width: 100px;
	margin:0 auto;	
}
.home2 .card .card-body span:first-child{
	font-size: 60px;
	font-weight: 700;
	color:#f37422;
	margin-left:5px;
}
.home2 .card .card-body span:last-child{

  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0a395a;
}
.button-regis{
	margin-top:0em;
	padding:80px 0; 
	text-align: center;
	background-image: url("../images/shape/orange_home.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
.btn0.btn6{
	position: static;
	background-color: #0A395A;
}
.onemo-logo{
	width: 200px;
	margin:0 auto;
}

@media screen and (max-width: 768px){
	.w-80{
		width: 100%;
	}
	.home2{
		padding-top:2rem;
		background-size: cover;
	}
	.home2 .card{
		margin:1rem 0;
	}
	.home2 .card .card-body span:first-child{
		font-size: 30px;
	}
	.home3 .t-40.t-title.c-blue{
		font-size: 25px;
	}
	.button-regis{
		background-size: cover;
		margin-top: -5em;
	}

}