.banner {
    background-image: url("../images/banner/about.jpg");

}

.tag-spon {
    background-color: #e8f0f7;
    padding: 2em 0;
}

.card-header {
    background-color: #0a395a;
    padding: 2em 1em 2em 3em;
    color: #fff;
    height: 100px;

}

.tag-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.tag-spon .card {
    box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.1);
    height:430px;
    margin-bottom: 2em;

}

.tag-spon .card-body{
		padding:4em 3em 4em 3em;

}
.tag-spon .card-body ul li:not(:last-child){
		margin-bottom: 1em;
}
.tag-spon .card-body .btn2{
	position: absolute;
	bottom: 2em;
	right: 3em;
}
.price-tag img{
	width: 50px;
	height: 50px;
	position: absolute;
	top:10px;
	left:0;
	right: 0;
	margin:0 auto;
}

.price-tag span {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    left:0;
    right: 0;
    bottom: -16px ;
   	margin-left:auto;
   	margin-right: auto;
   	z-index: 3;

}

.price-tag {
    width: 140px;
    height: 102px;
    background-color: #f37422;
    position: absolute;
    z-index: 2;
    top: -28px;
    left: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
}

.price-tag:before {
	border-top: 32px solid rgba(0, 0, 0, 0.26);
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    bottom: -35px;
    width: 0;
    filter: blur(2px);
    z-index: 1;
}
.price-tag:after{
    border-top: 35px solid #f37422;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    bottom: -34px;
    width: 0;
    z-index: 2;

     
}