.btn0{
	text-transform: uppercase;
	background-color: transparent;
	border:transparent;
	font-size: 14px;


}
.h-btn1{

	width: 160px;
	height: 35px;
	background-color: #F37422;
	font-weight: 400;
	color:#fff;
	transition: background-color 0.2s linear;
}
.h-btn2{
	padding-left:2px;
	padding-right:2px;
	width: 160px;
	height: 35px;
	border:1px solid #F37422;
	font-weight: 400;
	color:#0A395A;
	transition: background-color 0.2s linear;
}
.h-btn1:hover, .h-btn2:hover, .btn3:hover{
	background-color: #0A395A;
	color:#fff;
	border:1px solid #F37422;
}
.btn2{
	font-size: 14px;
	border:1px solid #F37422;
	font-weight: 400;
	color:#0A395A;
	transition: background-color 0.2s linear;
	padding:0.2em  1.5em;
}
.btn3{
	position: absolute;
	bottom: 0;
	left:20px;
	z-index: 2;
	width: 250px;
	height: 55px;
	background-color: #F37422;
	color:#fff;
	font-weight: 500;
	font-size: 25px;
	transition: background-color 0.2s linear;
	padding-right: 30px;
}
.reg-arrow{
	position: absolute;
	top:20px;
	right: 10px;
}
.btn3:hover .reg-arrow{
	animation: move-arrow 1s ease infinite;
}
@keyframes move-arrow{
	0%{
		transform: translateX(-10px);
	}
	80%{
		transform: translateX(10px);
	}
	100%{
		opacity: 0;
	}
}

.btn4{
	background-color: #F37422;
	color:#fff;
	padding :0.5em 2em;
	transition: background-color 0.2s linear;
	border: 1px solid transparent;
}
.btn5{
	 background-color: #ffffff;
	color: #f37422;
	padding :0.5em 2em;
	transition: background-color 0.2s linear;
	border: 1px solid transparent;
	font-weight: 500;
}
.btn6{
	width: 250px;
	height: 55px;
	background-color: #F37422;
	color:#fff;
	font-weight: 500;
	font-size: 25px;
	transition: background-color 0.2s linear;
}
.btn7{
   color: #f37422;;
   border: solid 1px #0a395a;
   background-color: #ffffff;
   padding:1em 3.5em;
   	transition: background-color 0.2s linear;

}
.btn2:hover, .btn4:hover, .btn5:hover, .btn6:hover, .btn7:hover{
	background-color: #0A395A;
	color:#fff;
	border:1px solid #F37422;
}
.disabled{
	opacity: 0.5;
}