.banner {
    background-image: url("../images/banner/contact.jpg");
}

.contact-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1.5em 1.5em 1em 1.5em;
    background-color: #e8f0f7;
}

.form-input {
    width: 100%;
    background: transparent;
    border: transparent;
    border-bottom: 0.5px solid #0a395a;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    padding: .375rem .75rem;
}
.form-textarea{
	width: 100%;
	  background: transparent;
    border: transparent;
    border: 0.5px solid #0a395a;
    margin-bottom: 1.5rem;
    padding: .375rem .75rem;
}
.form-input:focus{
	color:#000;
}
.form-input::placeholder, .form-textarea::placeholder{
	color: #949494;
	font-size: 14px;
	font-style: italic;
}
.if-contact{
	line-height: 1.2;
	color: #949494;
	font-style: italic;
}
.contact-form button{
	margin:0 auto;
	margin-top:1rem;
	font-weight: 500;
}
.map{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top:3em;
}
@media screen and (max-width: 768px){
    .sec-content .t-title.c-blue.t-40.text-center{
        font-size: 25px;
    }
    .contact-form{
        width: 100%;
    }
    .map{
    width: 100%;
    margin-top: 1em;
   }
}