.home1{
	color:#fff;
	background: #0a395a;
	background-image: url("../images/home/Home1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.home1 .container{
	
	padding-top: 5em;
	padding-bottom: 4em;
}
.orenge-class li{
	padding: 0.5em 1em 1em 1em;
	text-align: center;
	background-color: rgba(243, 116, 34, 0.6);
	border: 1px solid #f37422;
}
.orenge-class .list-inline-item:not(:last-child){
	margin-right:-5px;
	border-right: none;
	padding-left: 2.5em;
	padding-right: 2.5em;
}
.shape-white{
	position: relative;
	margin-top:-5em;
	height: 200px;
	overflow-y: hidden;
}
.shape-white img{
	width: 100%;	
}
.home2 .card{
	border:none;
	text-align: center;
}
.home2 .card .card-img-top{
	width: 90px;
	margin:0 auto;	
}
.home2 .card .card-body span:first-child{
	font-size: 50px;
	font-weight: 700;
	color:#f37422;
}
.home2 .card .card-body span:last-child{

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0a395a;
}
.home3{
	margin-top:3em;
}

.video-wrapper{

}
.video-1 {
    position: static;
    width: 95%;
    vertical-align: middle;
    margin-bottom: 2em;
}
.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 25%;
    left: 0rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 150ms;
    z-index: 1;
}
video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}
.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
.home3 .row:nth-child(2) {
	margin-top: 4em;
}
.home3 .row:nth-child(2) .card{
	border: none;
	text-align: center;
}
.home3 .row:nth-child(2) .card .card-img-top{
	width: 80px;
	margin:0 auto;
}
.home3 .row:nth-child(2) .card .card-body{
	color: #0a395a;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.home4{
	padding-top:3em;
	background-color:transparent;
	background-image: url("../images/shape/orange_home.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.why-should{
	
	padding:4em 1em 4em 2em;
	position: relative;
	z-index: 1;
}
.why-left{
	border-left:5px solid #fff0;
	z-index: 1;
	position: relative;
	overflow: hidden;
	padding-right: 0;
}
.home_why{
	position: absolute;
	z-index: 0;
	width: 100%;
}
.why-right{
	border-right:5px solid #fff0;
	z-index: 1;
	position: relative;
	overflow: hidden;
	padding-left: 0;
}
.explore{
	color:#fff;
	float:  right;
}
.expl-arrow{
	width: 12px;
	margin-left:5px;
}
.explore:hover{
	color: #fff;
}
.explore:hover .expl-arrow{
	animation: move-arrow 1s ease infinite;
}
.home5{
	margin-top:0;
	padding:40px 0;
	background-color: #e8f0f7;
	background-image: url("../images/shape/orange_home.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
.counting{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	padding :1em 3em 2em 3em ;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.12);
}
.counting button{
	margin-top:2em;
}
.box-clock{
	padding:1em 0.5em;
	
	background-color: #0a395a;
	text-transform: uppercase;	
}
.box-clock span:first-child{
	font-size: 50px;
	font-weight: 500;
	color:#f37422;
}
.box-clock span:last-child{
	color:#fff;
}
.counting .row{
	margin-top:2em;
}

.counting .row .col-md-3{
	max-width: 20%;
}
.homenews{
	position: relative;
	
	padding:4em 0 2em 0;
	background-color: #e8f0f7;
}
.homenews .row{
	margin-top:2em;
}
.homenews .card{
	border:transparent;
	background-color: transparent;
}
.homenews .card .card-img-top{
	width:100%;
	background-color: #0a395a;
}
.homenews .card .card-body{
	padding:1em 0 1em 0;
	font-size: 14px;
	line-height: 1.29;
}

.homenews .card .card-body p{
	margin-bottom:0.5em;
}
.homenews .card .news-date{
	 font-style: italic;
	 color: #949494;
}
.homenews .card .news-title{
	color: #f37422;
 	font-weight: 700;
	display: -webkit-box;
   max-width: 100%;
   height: 36px;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}
.homenews .card .news-flame{
	width: 100%;
	height: 130px;
	overflow:hidden;
}

.homenews .card .news-flame .card-img-top{
	width: 100%;
}
.homenews .card .news-conent{
  color:#0a395a;;

   display: -webkit-box;
   max-width: 100%;
   -webkit-line-clamp: 7;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.43;
}
.homenews .card .read-m{
	margin-top:1em;
	text-transform: uppercase;
	font-weight: 500;
	color: #0a395a;
}
.expl-arrow{
	width: 8px;
	margin-left:5px;
}



@media screen and (max-width: 768px){
	.list-inline.orenge-class li{
		width: 50%;
	}
	.list-inline.orenge-class .t-40{
		font-size: 25px;

	}
	.list-inline.orenge-class .t-20{
		font-size: 16px;
	}
	.home1 .btn0.btn3{
		width: 100%;
		position: relative;
		left:0;

	}
	.shape-white{
		display: none;
	}
	.home2{
		padding-top:2rem;
	}
	.home2 .card .card-body span:first-child{
		font-size: 30px;
	}
	.home3 .t-40.t-title.c-blue{
		font-size: 25px;
	}
	.home4{
		    background-size: cover;
	}
	.why-should{
		padding: 1em 1em 2em 1em;

	}
	.why-right{
		    border-right: 0px solid #fff0;
		    margin-bottom: 1em;
	}
	.why-left{
		border-left: 0px solid #fff0;
		padding-left:0;
	}
	.why-should .t-title.t-40.text-white{
		font-size: 25px;
	}
	.counting{
		width: 100%;
		 padding: 1.2em;
	}
	.box-clock span:first-child{
		font-size: 20px;

	}
	.counting .col-md-3{
		padding-left: 5px;
		padding-right: 5px;
	}
	.counting .row .col-md-3{
		max-width: 25%;
	}
}