.header{
	padding-top:2em;
}
.h-button{
	text-align: right;
}
.navbar{
	background-color: #fff;
	margin-bottom: 1em;

}
.navbar-light .navbar-nav .nav-link{
	color: #0A395A;
	font-weight: 500;
	overflow-x: hidden;
	font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover{
	
	color: #f37422;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #f37422;
	
}
.navbar-brand img{
	width: 230px;
	height: auto;
	position: absolute;
	top:-75px;
}

.fixed-head{
  position: fixed;
  top: 0; 
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  background-color:#fff;
  
}

