.header{
	padding-top:2em;
}
.h-button{
	text-align: right;
}
.navbar{
	background-color: #fff;
	margin-bottom: 1em;

}
.navbar-light .navbar-nav .nav-link{
	color: #0A395A;
	font-weight: 500;
	overflow-x: hidden;
	font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover{
	
	color: #f37422;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #f37422;
	
}
.navbar-brand img{
	width: 230px;
	height: auto;
	position: absolute;
	top:-75px;
}

.fixed-head{
  position: fixed;
  top: 0; 
  width: 100%;
  margin: 0 auto;
  z-index: 99;
  background-color:#fff;
  
}
.dropdown-menu {

    position: absolute;
    top:2em;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 15rem;
    padding: 1rem 0.5rem;
    padding-top:2em;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #0a395a;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
   box-shadow: 0 9px 7px -6px rgba(0,0,0,0.2);
    
}
.dropdown-item{
	color:#0a395a;
	font-size: 16px;
	font-weight: 500;
}