.banner{
	background-image: url("../images/banner/news.jpg");

}
.homenews{
	position: relative;
	
	padding:4em 0 2em 0;
	background-color: #e8f0f7;
}
.homenews .card{
	border:transparent;
	background-color: transparent;
}
.homenews .card .card-img-top{
	width:100%;
	background-color: #0a395a;
}
.homenews .card .card-body{
	padding:1em 0 1em 0;
	font-size: 14px;
	line-height: 1.29;
}

.homenews .card .card-body p{
	margin-bottom:0.5em;
}
.homenews .card .news-date{
	 font-style: italic;
	 color: #949494;
}
.homenews .card .news-title{
		 color: #f37422;
		 font-weight: 700;
}
.homenews .card .news-conent{
	color:#000;
}
.homenews .card .read-m{
	margin-top:1em;
	text-transform: uppercase;
	font-weight: 500;
	color: #0a395a;
}
.expl-arrow{
	width: 8px;
	margin-left:5px;
}
.pagination{
	margin-top:2em;
	margin-left:auto;
	margin-right: auto;
	width: 200px;
}
.page-item .page-link{
	background-color: transparent;
	border: solid 1px #bcbcbc;
	color: #0a395a;
	margin:0 0.2rem;
}
.page-item.active .page-link{
	background-color: transparent;
	border:solid 2px #f37422;
	color: #0a395a;;
}