.banner {
    background-image: url("../images/banner/about.jpg");

}

.form-steps {
    padding: 3em 0;
    background-color: #e8f0f7;
}


#msform {
    box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.1);
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    background-color: #0a395a;
    padding: 2em;

}

.btn.disabled,
.btn:disabled {
    opacity: 0.5;
}

.stepwizard .row {
    margin-left: 0;
    margin-right: 0;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 4.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 1px;
    background-color: #fff;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 200px;
}

.stepwizard-step p {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.428571429;
    background-color: #fff;
    border-radius: 0;

}

.setup-content {
    background-color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

.setup-content .btn {
    width: 140px;
}

.setup-content table {
    width: 50%;
}

.setup-content .col-md-6 table {
    width: 100%;
}

.setup-content table tr td {
    padding-bottom: 1em;
}

.form-steps .row {
    margin-left: 0;
    margin-right: 0;
}

.form-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    color: #0a395a;
    text-align: center;
}

.b-center {
    text-align: center;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 12px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 0.5px solid #0a395a;
}

.check-input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-input input:checked~.checkmark {
    background-color: #fff;
}

.check-input input:checked~.checkmark:after {
    display: block;
}

.check-input:hover input~.checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #f37422;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.label-t-form {
    font-size: 14px;
    font-weight: 400;
    color: #0a395a;
}

.disform-check {
    border: solid 1px #d5d5d5;
}

.disform {
    color: #d5d5d5;
}

.form-group {
    padding: 0 3em;
}

.b-center button {
    text-transform: uppercase;
}

.btn-active-pre {
    color: #0a395a;
    border: 1px solid #f37422;
    background: transparent;
    border-radius: 0;
}

.form-title-sec {
    font-size: 25px;
    color: #0a395a;
    font-weight: 500;
    line-height: 1.8;
    cursor: pointer;
}

.form-title-th {
    font-size: 18px;
    color: #0a395a;
    font-weight: 500;
    line-height: 1.8;
}

.form-title-thx {
    font-size: 20px;
    color: #0a395a;
    font-weight: 500;
    line-height: 1.8;
}

.form-boder {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 2em;
}

.form-control::placeholder {
    color: #d5d5d5;
    font-size: 14px;
    font-style: italic;
}

.select-placeholder {
    color: #d5d5d5;
    font-size: 14px;
    font-style: italic;
}

.btn-active-form,
.btn-circle:hover,
.btn-active-form:hover {
    background-color: #f37422;
    color: #fff;
    border-radius: 0;

}

.has-error .checkmark,
.has-error .label-t-form,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: #ff0000;
}

.has-error .form-control {
    border-color: transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.title-re.text-bold {
    font-weight: 700;
    margin-right: 20px;
}

.title-re {
    font-weight: 500;
    padding-right: 5px;
    color: #0a395a;
}

.price {
    font-weight: 700;
    margin-left: 20px;
}

#step-5 .list-inline .list-inline-item:not(:last-child) {
    margin-right: 3em;
}

.table-100 {
    width: 100% !important;
}

.table-100 td:nth-child(2) {
    padding-left: 20px;
}

.multi-select {
    color: #0a395a;
    font-style: italic;
}

.multi-select input {
    height: 25px;
    width: 50px;
    padding-left:5px;
    margin-left: 10px;
    border: solid 1px #d5d5d5;
    color:#f37422;
}

.multi1,
.multi2,
.multi3 {
    display: none;
}

.multi1 .amount,
.multi2 .amount,
.multi3 .amount {
 color:#0a395a;

}
@media screen and (max-width: 768px){
    .form-steps .w-80{
        width: 100%;
    }
    .stepwizard{
        padding:1em;
    }
    .stepwizard-step{
        width: 100%;
    }
    .btn-circle{
        font-size: 14px;

    height: 20px;
    line-height: 0;
    }
    .stepwizard-step p{
        display: none;
    }
    .setup-content .form-group{
        padding:0;
    }
    .setup-content table{
        width: 100%;
    }
}