.t-ban{
	font-size: 40px;
}
.t-banner{
	color:#fff;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
}



.t-light{
 	font-weight: 300;
}
.t-bold{
 	font-weight: 500;
}
.t-bolder{
 	font-weight: 700;
}
.t-16{
	font-size: 16px;
}
.t-25{
	font-size: 25px;
}
.t-20{
 	font-size: 20px;
}
.t-28{
	font-size: 28px;
}
.t-30{
	font-size: 30px;
}
.t-40{
 	font-size: 40px;
}
.t-50{
	font-size: 50px;
}


/*--------*/
.t-title{
	
	line-height: 1.5;
	font-weight: 500;
}
.t-content{
	font-weight: 14px;
	line-height: 1.29;
}


/*--------*/

.c-blue{
	color: #0a395a;
}
.c-org{
	color: #f37422;
}