.banner {
    background-image: url("../images/banner/why attend.jpg");
}
.sec-content .or-line{
    margin-bottom: 4em;
}
.expland{
	margin-top:3em;
}
.expland img{
  width:100%;
}
.home2 .card{
	border:none;
	text-align: center;
}
.home2 .card .card-img-top{
	width: 90px;
	margin:0 auto;	
}
.home2 .card .card-body span:first-child{
	font-size: 50px;
	font-weight: 700;
	color:#f37422;
}
.home2 .card .card-body span:last-child{

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0a395a;
}

.home2.why-icon .card .card-body span:last-child{
  font-weight: 700;
}

.home2.why-icon{
	margin-top:1em;
	margin-bottom: 3em;
}
.btn0.btn6{
    margin-top:2em;
}

@media screen and (max-width: 768px){
	 .sec-content .t-40.t-title.c-blue.text-center{
        font-size: 25px;
    }
    .home2{
		padding-top:2rem;
	}
	.home2 .card .card-body span:first-child{
		font-size: 30px;
	}
	.expland .col-md-6:last-child{
		padding-top:2em;
	}
	.home2.why-icon{
		margin-top:0;
		margin-bottom: 1em;
	} 
	.why-icon .card .card-body span:first-child{
		font-size: 14px;
	}
}